<div class="abp-advanced-search">
    <form id="TMTasksSearchForm" class="form-row">
        <div class="col-md-12">
            <div class="input-group">



                <div class="input-group-prepend ">
                    <button type="button" class="btn bg-blue btn-search">
                        <span class="fas fa-search" aria-hidden="true"></span>
                    </button>
                </div>
                <input type="text" name="Keyword" class="form-control txt-search" />
                <label class="col-form-label col-md-2" for="State" >@L("State")</label>
                <select name="State" class="form-control select2-dropdown col-md-3">
                    <option value="0">@L("AllState")</option>
                    <option value="1">@L("Active")</option>
                    <option value="2">@L("Completed")</option>
                    <option value="3">@L("Inactive")</option>
                </select>

            </div>
            </div>
        
    </form>
</div>
